// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.avatar{
    margin: auto;
 }
 .myphoto {
    min-width:90px;
    min-height:90px;
    text-align: center!important;
    img {
    border:0;
    max-width:90px;
    }  
    }
.card-background-page {
   

ion-card {
   position: relative;
   text-align: center;
   color: "dark";
}

.card-title {
   position: absolute;
   top: 36%;
   font-size: 2.0em;
   width: 100%;
   font-weight: bold;
   -webkit-text-stroke: 1px black;
   color: #fff; 
}

.card-subtitle {
   font-size: 1.0em;
   position: absolute;
   top: 65%;
   width: 100%;
   color: #fff;
}

}